*{
  margin:0px;
  font-family: arial;
 
}

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  --clr-primary-5: #2caeba;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 0px 50px rgba(0, 0, 0, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
.navbar{
  background-color: black;
  color:white;
  height:80px;
  padding:10px;
  position: sticky;
    top: 0;
    z-index: 999;
 
}
.navbar-container{
  display:flex;
  justify-content:space-between;
  margin:20px;
  
}

.nav-left{
  display:flex;
  justify-content: space-around;
  width:35%;
 
}

.nav-left h1{
 margin-top:0.5rem;
}

.nav-right{
  display:flex;
  justify-content: space-around;
  width:40%;

}

.nav-links{
  color: #fff;
    display: flex;
    text-decoration: none;
    margin: 0.5rem 1rem;
    font-size: larger;
   
    
   
}
.nav-links:hover{
  text-decoration: underline;
 color:var(--clr-primary-8);

  
}







.start{
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  box-shadow:inset 0 0 0 400px rgba(0, 0, 0, 0.4);
  object-fit:contain;
  
  


}

img{
  object-fit:cover;
  width:100%;
  height:100%;
  position:fixed;
  z-index:-1;
 
}

.heading{
  font-size: 2.5rem;
 color:var(--clr-primary-7);
  margin:0;
  animation:appea 3s ease
}

@keyframes appea{
  0%{opacity:0%}
  50%{opaciity:30%}
  100%{opacity:100%}
  }

.head{
  font-size: 3rem;
 
  color:var(--clr-primary-9);
  animation:appear 3s ease
  
}
@keyframes appear{
  0%{opacity:0%}
  50%{opacity:0%}
 
  100%{opacity:100%}
  }
.describe{
  display:flex;
  position:relative  ; 
  background-color:rgba(255, 255, 255, 0.897);
  height:250px; 
  box-shadow: inset var(--light-shadow);

}

.blocks{
  
display:flex;
flex-direction: column;
justify-content: center;
margin:auto;
animation:appea 3s ease
}

.blocks h2{
  font-size: 2rem;;
}

.check{
  display:flex;
  justify-content: center;
  margin-bottom:1rem;

}

.icons{
  background-color: chocolate;
  
}

.person{
  display:flex;
  height:4rem;
  text-align: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.26);;
  
}
.personh{
  display:flex;
  height:5rem;
  font-size:larger;
  text-align: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.26);
  background-color: hsl(205, 90%, 73%);


}

.personc{
  display:flex;
  height:5rem;
  font-size:larger;
  text-align: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.26);
  background-color: hsl(186, 60%, 64%);

}

.perso{
  width:16%;
  margin:auto;
  text-align: center;
  overflow-wrap: break-word;
 
}
.perso button{
  margin:auto;
  background:none;
  border: none;
  cursor: pointer;

}






.customers{
  width: 100%;
  height:100vh;
  margin-bottom:3rem;
  display:flex;
 flex-direction: column;

}
.cust-heading{
  
  text-align: center;
  margin-top:3rem;
  width: 100%;
}

.cust-heading h1{
  font-size: 3rem;
}


.cust-info{
  margin:3rem;
  background-color:hsla(185, 94%, 87%, 0.87);
  border-radius: var(--radius);
  box-shadow:var(--dark-shadow);
  overflow-y:scroll;

} 

.hist-info{
  margin:3rem;
  background-color: hsla(205, 86%, 81%, 0.801);
  border-radius: var(--radius);
  box-shadow:var(--dark-shadow);
  overflow-y:scroll;

}

.mistake{
  display:flex;
  justify-content: space-around;
  height:85vh;
  margin-bottom:3rem;
}

.userdetails{
  text-align: center;
  margin:auto;
}

.userdetails h3{
  width:100%;
  margin-left: 2rem;;
}

.userdetails-card{
  display:flex;
  margin-bottom:2rem;

}

.transfer{
  background-color:var(--clr-primary-9) ;
  width:30%;
  height: 60vh;
  margin:auto;
 
  border-radius: 1rem;
  box-shadow:var(--dark-shadow);
  float: right; 
   
   
}
.transfer-click{
  background-color:var(--clr-primary-9) ;
  width:30%;
  height: 60vh;
  margin:auto;
 
  border-radius: 1rem;
  box-shadow:var(--dark-shadow);
  float: right;   
  z-index: -1
   
}

.transfer-click img{
  width:200px;
  height:200px;
  position:relative;
  display: block;
  margin:auto;
  margin-top:20%;
  animation:pop 0.5s ease forwards
}

@keyframes pop{
  0%{transform:scale(0)}
  100%{transform :scale(1.0)}
}

.transfer h1{
  text-align: center;
  padding-top:1rem;
  padding-bottom:1rem;
} 

.pay{
  
  height:40vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left:2rem;
  margin-top:1rem;
}

.pay select{
  width: 70%;
  height:40px;
  margin-top:1rem;
  border:0;
  border-radius: 5px;
  background-color: rgba(51, 158, 122, 0.479);
  

}


.pay input{
  width: 69%;
  height:40px;
  margin-top:1rem;
  border:0;
  border-radius: 5px;
  background-color: rgba(51, 158, 122, 0.479);
}


.transfer button{
  margin-left:2rem;
  height:30px;
  width:100px;
  border:none;
  background-color:rgb(76, 133, 240);
  border-radius: 2rem;
  box-shadow: var(--dark-shadow);
  cursor: pointer;


}

.transfer button:hover{
  background-color: rgb(43, 43, 233);
}

.media{
  display:flex;
  justify-content: center;
  font-size:2rem;
  margin:1rem;
}
.footer{
  
  background-color: rgb(0, 0, 0);
  height:100px;;
 color:var(--clr-primary-9);
 bottom: 0;
 width: 100%;
 text-align: center;
 }

.footer{
  display:flex;
  flex-direction: column;
}

.social-media{
  margin-left:2rem;
}

.success{
  color:white;
  background-color: hsl(125, 67%, 44%);
  width: 100%;
  text-align: center;
  margin-top:1rem;
}