*{
  margin:0px;
  font-family: arial;
  /* color:white; */
}

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  --clr-primary-5: #2caeba;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 0px 50px rgba(0, 0, 0, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
.navbar{
  background-color: black;
  color:white;
  height:80px;
  padding:10px;
  position: sticky;
    top: 0;
    z-index: 999;
 
}
.navbar-container{
  display:flex;
  justify-content:space-between;
  margin:20px;
  
}

.nav-left{
  display:flex;
}

.nav-right{
  display:flex;

}

.nav-links{
  color: #fff;
    display: flex;
    /* align-items: center; */
    text-decoration: none;
    margin: 0.5rem 1rem;
    font-size: larger;
    /* transition: all 0.35s ease; */
    
   
}
.nav-links:hover{
  text-decoration: underline;
 color:var(--clr-primary-8);

  
}
.pages{
  margin-right:3rem;
  margin-left:3rem;
 

  text-align: center;
 
}



.footer{
  background-color: var(--clr-grey-6);
  /* position: fixed; */
    bottom: 0;
    width: 100%;
    /* height:2rem; */
    text-align: center;
}

.home{
  /* width:100%; */
  /* height:600px; */
  /* height:100vh; */

  /* background-color: beige; */
}
.start{
  width:100%;
  height:100vh;
  /* height:100vh;
    width:100%; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow:inset 0 0 0 300px rgba(0, 0, 0, 0.2);
    object-fit:contain;
    
  


}
img{
  object-fit:cover;
  width:100%;
  height:100%;
  position:fixed;
  z-index:-1;
 
}

.heading{
  font-size: 2.5rem;
 color:var(--clr-primary-2);
 /* color:white; */
  margin:0;
}
.head{
  font-size: 3rem;
   /* color:white; */
  color:var(--clr-primary-7)
  
}
.describe{
  display:flex;

  /* background-color:var(--clr-primary-5); */
  background-color:rgba(255, 255, 255, 0.897);
  /* margin-top:5rem; */
  padding-top:5rem;
  padding-bottom:5rem;
 
  box-shadow: inset var(--light-shadow);

}
.blocks{
  
display:flex;
flex-direction: column;
justify-content: center;
  margin:auto;
  /* height:50vh;
  width:30%; */
  
  /* background-color: aquamarine; */
}

.icons{
  background-color: chocolate;
  
}

.person{
  display:flex;
  /* justify-content: space-between; */
  /* padding-top:2rem; */
  height:4rem;
  text-align: center;
  border-bottom: 0.5px solid black;;
 
  /* justify-content: space-between; */
  
}

.perso{
  width:10rem;
  /* margin-right:10%; */
  margin:auto;
  text-align: center;
 
}




.customers{
  /* background-color: var(--clr-primary-2); */
  width: 100%;
  height:100vh;
  display:flex;
 flex-direction: column;
/* justify-content: center; */
  /* margin:auto; */
    /* margin:auto; */
    /* align-items: center; */

}
.cust-heading{
  /* background-color: antiquewhite; */
  text-align: center;
  margin-top:3rem;
  width: 100%;
}
.cust-heading h1{
  font-size: 3rem;
}


.cust-info{
  margin:3rem;
  background-color:hsla(185, 94%, 87%, 0.87);
  border-radius: var(--radius);
  box-shadow:var(--dark-shadow);
  /* padding-bottom: 2rem; */
} 

.mistake{
  display:flex;
  justify-content: space-between;
}

.userdetails{
  text-align: center;
  margin:auto;
}

.userdetails h3{
  margin:4rem;
  font-size: 2rem;
}

.transfer{
  background-color:var(--clr-primary-9) ;
  width:30%;
  height: 60vh;
  /* border:4px solid black; */
  border-radius: 1rem;
    box-shadow:var(--dark-shadow);
    margin:10rem;
    /* position: relative;
    float: right; */
    /* margin-right:5rem; */
   
}

.transfer h1{
  text-align: center;
  padding-top:1rem;
  padding-bottom:1rem;
}

.pay{
  
  height:40vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left:2rem;
  margin-top:2rem;
}

.pay select{
  width: 70%;
  height:40px;
  margin-top:1rem;
  border:0;
  border-radius: 5px;;
  

}
.pay input{
  width: 69%;
  height:40px;
  margin-top:1rem;
  border:0;
  border-radius: 5px;;
}


.media{
  display:flex;
  text-align: center;
}

.footer{
  display:flex;
  flex-direction: column;
}